h1 {
    border: solid;
}
.h-1 {
    color: red;
    background-color: aquamarine;
    float: left;
}

.h-2 {
    
    color: blue;
    background-color: yellow;
    float: right;
}

h2 {
    clear: both;
}

body {
    background-color: bisque;
}

div {
    border: solid;
    background-color: pink;
}









