body {
    background-color: bisque;
    /* font-size: 30px; */
}

.container {
    background-color: lightblue;
    height: 600px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 390px 90px;
    align-content: space-between;
    justify-content: space-between;

}

.d-1 {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 100px 300px;
    align-items: center;
    justify-content: space-between;
 }
.d-2 {
    background-color: blueviolet;
}
.d-3 {
    background-color: rgb(193, 90, 107);
}

img {
    height: 80px;
    border-radius: 50%;
}